#timeLabel {
  -fx-font-size: 40px;
  -fx-background-color: lightgrey;
  -fx-padding: 10px;
  -fx-border-color: black;
  -fx-border-width: 1px;
  -fx-pref-width: 320px;
  -fx-alignment: center;
}

#startButton,
#pauseButton,
#resetButton {
  -fx-font-size: 18px;
  -fx-background-color: lightgreen;
  -fx-border-radius: 5px;
  -fx-border-color: darkgreen;
  -fx-text-fill: black;
}

#pauseButton {
  -fx-background-color: lightcoral;
}

#resetButton {
  -fx-background-color: lightblue;
}
